################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

*.ide
*.ide-shm
*.lock
*.ide-wal
*.cache
*.cs
